th {
    white-space: nowrap
}

td {
    word-break: break-all
}

.event-detail p {
    white-space: normal; 
    word-break: break-all;
}

.custom-switch {
    padding-left: 0;
}

.sticky-card-footer {
    position: sticky; 
    bottom: 0; 
    background: white; 
    z-index: 9999
}

.modal-body p {
    word-break: break-all
}

.active .dropdown-icon,
.dropdown-item.active .dropdown-icon,
.dropdown-item:active .dropdown-icon {
    color: white
}
